
.main {
    margin-top: 28px;
    border-radius: 32px;
    background: #dce5e2;
    max-width: 1294px;
    height: 100%;
    justify-content: center;
    margin-left: 151px;
    margin-right: 151px;
}
.main__information {
    display: flex;
    justify-content: center;
}
.main__text {
    font-family:  "Readex Pro", sans-serif;
    font-weight: 400;
    font-size: 58px;
    line-height: 120%;
    color: #000;
    margin-top: 145px;
    padding-left: 31px;
}
.main__title {
    font-family:  "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #000;
    margin-top: 19px;
    padding-left: 31px;
}
.button {
    margin-top: 30px;
    margin-left: 31px;
    border: 1px solid #000;
    border-radius: 200px;
    width: 170px;
    height: 50px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    text-transform: capitalize;
    color: #000;
}
.main__img--ipad {
    width: 550px;
}
.main__img {
        height: 100%;
}

.swiper-button-prev {
    color: #000;
}
.swiper-button-next {
        color: #000;
}
/* =============================================================== */
.container__h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 75px;
}

.h3__text {
    font-family: "Readex Pro", sans-serif;
    font-weight: 400;
    font-size: 42px;
    line-height: 125%;
    text-align: center;
    color: #000;
}

.h3__title {
    font-family: "Readex Pro", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: #000;
    margin-top: 9px;
}
/* =============================================================== */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;     
    grid-template-rows: auto auto;           
    gap: 20px;
    max-width: 1324px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
    margin-top: 56px;
}

.card {
    background: white;
    overflow: hidden;
    border-radius: 32px;
    box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 30px;
    min-height: 400px;
    background-size: cover;
    background-position: center;
}

.card h3 {
    margin: 0 0 8px 0;
    font-size: 24px;
    font-weight: 600;
}

.card p {
    margin: 0;
    font-size: 17px;
    color: #1d1d1f;
}


.laptop    { grid-column: 1;  }           
.watch     { grid-column: 1; grid-row: 1; }
.phones    { grid-column: 2; grid-row: 1/3; }
.tablet    { grid-column: 3; grid-row: 1 / 3; }  
    


.watch {
    width: 639px;
    height: 472px;
    margin-bottom:  72px;
}
.laptop {
    min-height: unset;
    width: 639px;
    /* height: 270px; */
}

.grid__h3 {
    font-family: "Readex Pro", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    text-align: center;
    color: #000;
    display: flex;
    justify-content: end;
}

.grid__title {
    font-family:"Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #000;
    display: flex;
    justify-content: end;
}
.card__phones,
.card__ipad {
    display: flex;
    justify-content: center;
}
.grid__h3--phone,
.grid__title--phone,
.grid__h3--ipad,
.grid__title--ipad {
    display: flex;
    justify-content: center;
}
.grid__h3--ipad {
    padding-bottom: 41px;
}
.grid__title--phone {
    padding-top: 42px;
}

.grid__inner {
    display: flex;
}
.card__clock {
    padding: 0px;
}
.grid__img {
    margin-left: 42px;
}

.grid__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 42px;
}

.grid__h3--clock {
    text-align: end;
}
/* =============================================================== */
.price__card {
    width: 302px;
    height: 396px;
}
.price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
}
.price__text {
    text-align: center;
    margin-top: 72px;
}
.price__h2 {
    font-family:"Readex Pro", sans-serif;
    font-weight: 400;
    font-size: 42px;
    line-height: 125%;
    text-align: center;
    color: #000;
    margin-bottom: 9px;
}
.price__title {
    font-family:"Readex Pro", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 129%;
    color: #000;
    margin-bottom: 31px;
}

.card__h3 {
    font-family:"Readex Pro", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 125%;
    color: #000;
    margin-bottom: 9px;
}
.card__title {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #4b4b4b;
    margin-bottom: 25px;
}
.card__cost {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #000;
}

.card__img {
    width: 247px;
    height: 214px;
    margin-bottom: 33px;
    justify-self: center;
}
/* =============================================================== */
.order__menu {
    display: flex;
    justify-content: center;
    gap: 28px;
}
.order__h2 {
    font-family: "Readex Pro", sans-serif;
    font-weight: 400;
    font-size: 42px;
    line-height: 125%;
    text-align: center;
    color: #000;
    margin-top: 43px;
}
.order__title {
    font-family:"Readex Pro", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 129%;
    color: #000;
    text-align: center;
    margin-top: 9px;
    margin-bottom: 60px;
}
.order {
    border-radius: 16px;
    width: 413px;
    height: 453px;
    background: #f8f9fa;
}
.order__title--2 {
    font-family: "Readex Pro", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 129%;
    text-align: center;
    color: #000;
    margin-top: 41px;
}

.order__h4 {
    font-family: "Readex Pro", sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 125%;
    text-align: center;
    color: #000;
}

.order__button {
    border: 1px solid #000;
    border-radius: 200px;
    width: 190px;
    height: 50px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    text-transform: capitalize;
    color: #000;
    margin-top: 30px;
    margin-left: 111px;
}

.order__img--1 {
    width: 259px;
    height: 250px;
    justify-self: center;
}

.order__img--2 {
    width: 294px;
    height: 250px;
    margin-top: 30px;
    justify-self: center;
}

.order__img--3 {
    width: 355px;
    height: 250px;
    margin-top: 30px;
    justify-self: center;
}
/* =============================================================== */
.ideas__h2 {
    font-family: "Readex Pro", sans-serif;
    font-weight: 400;
    font-size: 42px;
    line-height: 125%;
    text-align: center;
    color: #000;
    margin-top: 47px;
    margin-bottom: 9px;
}
.ideas__title {
    font-family: "Readex Pro", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 129%;
    text-align: center;
    color: #000;
    margin-bottom: 56px;
}
.idaes {
    display: flex;
    gap: 35px;
}

.ideas__img {
    width: 620px;
    height: 420px;
}
.ideas__poragraf {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 125%;
    color: #000;  
}
.ideas__1 {
    margin-bottom: 23px;
}
.ideas__2 {
    margin-bottom: 23px;
}
.ideas__3 {
    margin-bottom: 23px;
}
.ideas__see {
    margin-top: 74px;
    display: flex;
    justify-content: center;
}
.see__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    text-transform: capitalize;
    color: #000;
}

/* =============================================================== */
.section__search {
    padding-bottom: 19px;
}
.search__input {
    border: 1px solid #c5c5c5;
    border-radius: 100px;
    width: 650px;
    height: 60px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    outline: none;
    padding: 16px 2px 16px 50px;
    margin-top: 14.16px;
    margin-bottom: 17.84px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #000;
}
.search__img {
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #888;
    height: 29px;
    width: 30px;
}
.search__box {
    position: relative;
    justify-self: center;
}
.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    justify-content: center;
    width: 660px;
    height: 98px;
    justify-self: center;
    margin-bottom: 61px;
}
.tag {
    border: 1px solid #c5c5c5;
    border-radius: 200px;
    min-width: 90px;
    height: 42px;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    text-align: center;
    padding-top: 12px;
    white-space: nowrap;
    padding-left: 22px;
    padding-right: 22px;
}

.search__h1 {
    font-family: "Readex Pro", sans-serif;
    font-weight: 400;
    font-size: 42px;
    line-height: 125%;
    text-align: center;
    color: #000;
    margin-top: 56px;
}
.mailing__email {
    display: flex;
    width: 400px; 
    height: 50px;
    border: 1px solid #000;
    border-radius: 54px; 
    overflow: hidden;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    justify-self: center;
    margin-top: 14px;
}

.mailing__input {
    flex: 1;
    border: none;
    padding: 0 20px;
    font-size: 16px;
    outline: none;
    background: transparent;
}

.mailing__button::placeholder {
    color: #999;
}

.mailing__email button {
    background-color: #000;
    color: white;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    cursor: pointer;
    white-space: nowrap;
}

.mailing__email button:hover {
    background-color: #333;
}

.mailing {
    border-radius: 16px;
    background: #dce5e2;
    width: 935px;
    height: 450px;
}

.mailing__h2 {
    font-family: "Readex Pro", sans-serif;
    font-weight: 400;
    font-size: 42px;
    line-height: 125%;
    text-align: center;
    color: #000;
    padding: 42px 0 9px;
}

.mailing__title {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #000;
    }

.mailing__img {
    width: 233px;
    height: 200px;
    justify-self: center;
    padding-top: 14px;
}

/* =============================================================== */


@media (max-width: 1470px) {
    .main__text {
        font-size: 49px;
        margin-top: 65px;
    }
    .main__title {
        font-size: 14px;
    }
}
@media (max-width: 1400px) {
    .main__text {
        font-size: 49px;
        margin-top: 65px;
    }
    .main__title {
        font-size: 14px;
    }

}
@media (max-width: 1300px) {
    .main__text {
        font-size: 40px;
    }
    .grid__img {
        margin-left: 0px;
    }
    .price {
        flex-wrap: wrap;
    }
    .order__menu {
        flex-wrap: wrap;
    }

}
@media (max-width: 1200px) {
    .main {
        margin-left: 80px;
        margin-right: 80px;
    }

}
@media (max-width: 1100px) {
    .card {
        padding: 10px;
    }
}
@media (max-width: 1000px) {
    .ideas__poragraf {
        font-size: 16px;
    }
    .footer {
        padding-left: 5px;
    }
}
@media (max-width: 1050px) {
    .main {
        margin-left: 20px;
        margin-right: 20px;
    }
    .main__text {
        padding-left: 50px;
    }
    /* .footer__column {
        width: 166px;
    } */
}
@media (max-width: 1000px) {
    .grid-container {
        display: flex;
        flex-wrap: wrap;
    }
    .watch {
        margin-bottom: 0px;
    }
    .grid-container {
        justify-content: space-around
    }
    .mailing {
        width: 100%;
    }
}
@media (max-width: 950px) {
    .footer__column {
        text-align: center;
    }
    .footer__info {
        width: 216px;
        text-align: center;
    }
}
@media (max-width: 900px) {
    .header__top {
        align-items: center;
    }
    .nav__icon {
        align-items: center;
        gap: 0px;
        z-index: 11;
    }
    .burger-icon {
        display: flex;
        z-index: 11;
    }
    .header__inner {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: #FFF9F4;
        padding: 26vh 15px 30px;
        font-size: 24px;

        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: var(--transition);
    }
    .header__link {
        font-size: 20px;
    }
    .body--opened-menu .header__inner {
        transform: translateY(0%);
        transition: all .4s;
        opacity: 1;
        visibility: visible;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -30px;
    }
    .body--opened-menu {
    overflow: hidden;
}
.header__modal.active {
    width: 180px;
}
}
@media (max-width: 870px) {
    .main__img {
        display: none;
    }
}
@media (max-width: 850px) {
    .idaes {
        gap: 20px;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
}
@media (max-width: 770px) {
    
}
@media (max-width: 750px) {
    .grid__title {
        justify-content: center;
    }
    .grid__h3 {
        justify-content: center;
    }
}
@media (max-width: 720px) {
    .mailing {
        width: 500px;
        justify-self: center;
    }
    .footer__menu {
        gap: 25px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer {
        /* height: 1227px; */
    }
}
@media (max-width: 690px) {
    .search__h1 {
        font-size: 29px;
    }
    .search__input {
        width: 450px;
    }
    .search__heading {
        width: 450px;
        justify-self: center;
    }
}
@media (max-width: 650px) {
    .ideas__img {
        display: none;
    }
    .idaes {
        justify-content: flex-start;
    }
    .ideas__poragraf {
        font-size: 20px;
    }
}
@media (max-width: 590px) {
}
@media (max-width: 550px) {
    .grid__img {
        margin-left: 0;
        min-width: 0px;
    }
    .card__ipad {
        width: 225px;
    }
    .grid-container {
        gap: 7px;
    }
    .grid__text {
        margin-right: 15px;
    }
    .mailing {
        width: 350px;
    }
    .mailing__email {
        width: 300px;
    }
    .mailing__h2 {
        padding: 19px 0 9px;
    }
    .tags-container {
        width: 350px;
        margin-bottom: 104px;
    }
    .search__input {
        width: 350px;
    }
    .search__h1 {
        font-size: 20px;
        margin-top: 35px;
    }
    .section__search {
        justify-self: center;
    }
}
@media (max-width: 520px) {
    
}
@media (max-width: 501px) {
    .grid__img {
        display: none;
    }
    .card__clock {
        width: 275.03px;
    }
    .watch {
        min-height: unset;
        width: 275.03px;
        height: 77px;
    }
    .card__phones {
        min-height: unset;
        min-width: 275.03px;
        height: 77px;
    }
    .card__ipad {
        min-height: unset;
        min-width: 275.03px;
        height: 77px;
    }
    
    .grid-container {
        justify-content: center;
    }
    .grid__title--phone {
    padding-top: 14px;
}
    .grid__h3--ipad {
        padding: 0px 0px 0px;
    }
    }
@media (max-width: 500px) {
    .main__title {
        font-size: 12px;
    }
    .main__text {
        font-size: 30px;
    }
    .grid__img {
        width: 201px;
    }
    .watch {
        display: flex;
        justify-content: space-around;
    }
    .card__phones {
        width: 207px;
    }
    .ideas__poragraf {
        font-size: 16px;
    }
    
}
@media (max-width: 480px) {
    
}
@media (max-width: 450px) {
    .order {
        width: 300px;
    }
    .order__button {
        margin-left: 56px;
    }
    
}
@media (max-width: 400px) {
    .mailing__h2 {
        font-size: 30px;
    }
    .mady__title {
        font-size: 13px;
    }
    .mailing {
        width: 250px;
    }
    /* .mailing__email {
        width: 207px;
    } */
    .mailing__button {
        font-size: 16px;
        width: 94px;
    }
    .mailing__email {
        width: 250px;
    }
    .mailing__input {
        width: 150px;
    }
}
@media (max-width: 370px) { 
    .search__input {
        width: 250px;
    }
    .tags-container {
        width: 300px;
    }
    .search__heading {
        width: 260px;
    }
}
@media (max-width: 350px) {
    .order {
        width: 250px;
    }
    .order__button {
        margin-left: 30px;
    }
    .burger-icon {
        width: 29px;
    }
    .search-box.active .search-input {
    width: 150px;
}
}
@media (max-width: 300px) {
    .main {
        margin-left: 12px;
        margin-right: 12px;
    }
    .card__title {
        font-size: 12px;
    }
    }



