.footer {
    /* margin-left: 73px; */
    padding-left: 148px;
    padding-top: 29px;
    background: #f8f9fa;
    width: 100%;
    /* height: 378px; */
    overflow: hidden;
}
.footer__menu {
    display: flex;
    gap: 28px;
}
.footer__column {
    width: 197px;
    height: 191px;
}
.footer__info {
    width: 394px;
    height: 191px;
}
.footer__text {
    font-family: "Readex Pro", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 125%;
    color: #000;
    margin-bottom: 19.72px;
}
.footer__title {
    font-family: "Inter", sans-serif;
    font-size: 17px;
    color: #000;
    height: 36px;
}
.footer__title::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -4px;
    left: 0;
    background-color: #ff6b6b;
    transition: width 0.4s ease;
        }
.footer__title:hover {
    color: #1223e5;
    }
.footer__title:hover::after {
    width: 100%;
}
.footer__logo {
    margin-bottom: 18px;
}

.footer__line {
    width: 1350px;
    height: 1px;
    background: #dce5e2;
    margin-top: 64px;
}
.footer__mady {
    display: flex;
    width: 1350px;
    height: 78px;
    align-items: flex-end;
}
.mady__text {
    font-family: "Readex Pro", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #000;
}
.mady__title {
    font-family:"Inter", sans-serif; 
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #000;
}