.header {
    margin-top: 30px;

}
ul li {
    list-style: none;
    align-items: center;
    gap: 3px;
    position: relative;
}
.header__modal {
    display: flex;
    flex-direction: column;
    background: #fff;
    display: none;
    position: absolute;
}
.solutions__img {
    cursor: pointer;
}
.header__modal.active {
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 111px;
    z-index: 11;
}
.header__link2:hover {
    color: #1223e5;
}








.header__top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    align-items: center;
}
.header__inner {
    display: flex;
    gap: 33px;
}
.header__logo {
    z-index: 11;
}
.nav__icon {
    display: flex;
    align-items: center;
}
.header__link {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    color: #000;
}
.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: #312C27;
    transition: all .4s;
}

.burger-icon span {
    position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
}

.burger-icon span::before {
    top: -8px;
}

.burger-icon span::after {
    bottom: -8px;
}

.body--opened-menu .burger-icon span {
    background: transparent;
}
.body--opened-menu .burger-icon span::before {
    top: 0px;
    transform: rotate(45deg);
}
.body--opened-menu .burger-icon span::after {
    bottom: 0px;
    transform: rotate(-45deg);
}

.search-box {
position: relative;
height: 44px;
}
.search-input {
    position: absolute;
    right: 44px;                   /* прижато к кнопке справа */
    width: 0;
    height: 44px;
    border-radius: 10px;
    font-size: 17px;
    outline: none;
    transition: width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    box-sizing: border-box;
}
.search-btn {
    position: absolute;
    right: 0;
    height: 44px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-radius 0.4s ease;
}

.search-box.active .search-input {
    width: 200px;                 
    padding: 0 0px 0 16px; 
    border: 1px solid #d2d2d7;
}
.search-box.active .search-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.search-icon {
    width: 24px;
    height: 24px;
    color: #86868b;
}

